#tree {
  width: 1000px;
  height: 500px;
}

.value {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: red;
  margin: auto;
  line-height: 50px;
  text-align: center;
}

.node {
  width: 50%;
  float: left;
}

.node.root {
  width: 100%;
}

.placeholder {
  width: 50%;
  height: 50px;
  float: left;
}

/*.children {
  float: left;
  height: 50px;
}*/
